<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    {% if site.env != 'development' %}
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    {% endif %}
    {% if site.env == 'development' %}
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}css/bootstrap.min.css"/>
    {% endif %}
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}css/style.css"/>
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}css/syntax.css"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    <style>
    </style>
  </head>
  <body>
    <div class="container post">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <!-- header -->
          <h1>{{ site.author.name }}</h1>
          <p>Learn {{ site.about }} or read more of my {{ site.blog }}</p>
          <hr/>
          <!-- content -->
          <h1 class="title">{{ page.title }}</h1>
          <p class="text-muted">Written by {{ site.author.name }} on {{ page.date | date_to_string }}</p>
          {{ content }}
          {% include twitter.html %}
          <!--  comments -->
          {% if site.env != 'development' %}
              {% include comments.html %}
          {% endif %}
        </div>
      </div>
    </div>
    {% if site.env != 'development' %}
        {% include ga.html %}
    {% endif %}
  </body>
</html>